<div class="col-md-offset-3 col-md-5">
<div class="jumbotron log-jumbotron">
    <center>
      <h1>AUXBOX</h1>
      <%= link_to "/auth/twitter" do  %>
        <%= image_tag "connect_with_twitter.png" %>
      <% end %>
    </center>
  </div>
</div>