// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#message-div {
  width: auto;
  height: 500px;
  overflow: auto;
}

/*#message_box {
  list-style-type: none;
}

.current_user_comment {
  background: blue;  
}

.other_user_comment {
  background: blue;  
}*/

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font_size: 0.8em; }
  .m { font_size: 1.0em; }
  .l { font_size: 1.2em; }
}

.request {
  border: 1px solid black;
}

.voting {
  text-align: center;
}

.upvote {
  margin: auto;
}

.downvote {
  margin: auto;
}

.song-info {
  height: 5em;
  line-height: 5em;
}

.delete {
  float: right;
}