<div id="not-logged-in">
  <div class="row col-md-offset-5">
    <% if @tag %>
      <h1><%= "Playlists tagged with: #{@tag}" %></h1>
    <% else %>
      <h1>Playlists:</h1>
    <% end %>
  </div>

  <div class="index-tag-cloud col-md-5">
    <%= render 'tag_cloud' %>
  </div>

  <div class="col-md-7">
    <table class="table">
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= link_to "#{playlist.name}", playlist %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>